<link rel="stylesheet" href="/css/chatStyle.css" />
{{! <script src="http://localhost:3001/socket.io/socket.io.js"></script> }}
{{ <script
  src="https://https://vast-gorge-13001.herokuapp.com//socket.io/socket.io.js"
></script> }}

<div id="chat-box">
  <div id="message-container" data-user="{{username}}"></div>
  <form id="send-container">
    <textarea id="message-input"></textarea>
    <button
      type="submit"
      id="send-button"
      class="waves-effect waves-light btn"
    >Send</button>
  </form>
</div>