<body>

    <div class="container">

        <div class="row">

        <div class="col">
            <div class="card">
                <div class="mood">
                </div>
            </div>
            <div class="card">
                <div class="mood">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="mood">
                </div>
            </div>
            <div class="card">
                <div class="mood">
                </div>
            </div>
        </div>



        </div>

    </div>