<div class="input-field col s12">
  <select class="browser-default">
    <option value="" >Choose your current mood!</option>
    {{#each moods as |mood|}}
    {{> moodOptions}}
    {{/each}}
  </select>
</div>  