 
  <!-- Modal Trigger -->
  <a id="mood-button" class="waves-effect waves-light btn modal-trigger" href="#modal1">Moods</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Select your mood:</h4>
        <p>
        {{#each moods as |mood|}}
          {{> moodOptions}}
         {{/each}}
         </p>
         
    </div>
    <div class="modal-footer">
      <div id="for-mood-description">
         </div>
      <script src="/js/showDescriptions.js"></script>
    </div>
  </div>
 