<a
  class="waves-effect waves-light btn tooltipped moodbtn"
  data-id="{{id}}"
  data-position="bottom"
  data-tooltip="{{description}}"
><i class="material-icons right">insert_emoticon</i>{{name}}</a>