<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feel Better</title>
  <link rel="stylesheet" href="/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{!-- <link rel="stylesheet" href="/css/reset.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    
    <header class="display-flex justify-space-between align-center p-2">
      <div class="navbar-fixed">
        <nav class="transparent">
            <nav class="nav-wrapper transparent">
            <div class="container">
                <a href="#" class="brand-logo">FeBe</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Activities</a></li>
                    <li><a href="#">Login</a></li>
                    {{#if logged_in}}
                    <li><a href="#" class="btn-floating indigo darken-4 z-depth-0">
                        <i class="material-icons">face</i>
                    </a></li>
                    {{/if}}
                </ul>
            </div> 
        </nav>

        <ul class="sidenav indigo" id="mobile-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Activities</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        </nav>
      </div>
    </header>

    {{!-- <header>
      <h1>
        <span role="img">💸</span>
        <a href="/">FeBe - Feel Better</a>
      </h1>
      <div>
        <a href="/dashboard">Dashboard</a>
        {{#if logged_in}} |
        <button class="no-button" id="logout">logout</button>
        {{/if}}
      </div>
    </header> --}}

    <main class="">
      {{{ body }}}
    </main>

    <div class="footer-fixed">
    <footer class="page-footer blue darken-4">
        
            <div class="footer-copyright">
                <div class="container">
                    © 2021 TBD
                    <a class="grey-text text-lighten-4 right" href="#">About the Team</a>
                </div>
            </div>
        
    </footer>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/materialize.min.js"></script>
 <script src ='/js/main.js'></script>
 <script src= '/js/modal.js'></script>
 <script src='/js/hover.js'></script>
  {{#if loggedIn}}
  {{!-- PH for logout script to be added in public files --}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
