<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FeBe - Feel Better</title>
    <link rel="stylesheet" href="/css/materialize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=shadows_into_light|Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" type="jpeg" href="/images/FeBe_Logo.jpg" />

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">

      <header class="display-flex justify-space-between align-center p-2">
        <div class="navbar-fixed">
          <nav class="nav-wrapper transparent">
            <div class="container">
              <a href="/" class="brand-logo">FeBe - Feel Better</a>
              <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
              </a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/dashboard">Dashboard</a></li>
                {{#if loggedIn}}
                  <li><a href="/addActivity">Activities</a></li>
                {{else}}
                  <li><a href="/contact-us">About</a></li>
                {{/if}}
                {{#if loggedIn}}
                  <li><a id="logout"><i
                        class="material-icons right"
                      >logout</i>Logout</a></li>
                {{else}}
                  <li><a id="login" href="/#login-form"><i
                        class="material-icons right"
                      >login</i>Login</a></li>
                {{/if}}
              </ul>
            </div>
          </nav>
        </div>
        <ul class="sidenav indigo" id="mobile-links">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/addActivity">Activities</a></li>
          {{#if loggedIn}}
            <li><a id="logout">Logout<i
                  class="material-icons"
                >logout</i></a></li>
          {{else}}
            <li><a id="login" href="/#login-form">Login<i
                  class="material-icons"
                >login</i></a></li>
          {{/if}}
        </ul>

      </header>

      <main class="">
        {{{body}}}
      </main>

      <div class="footer-fixed">
        <footer class="page-footer blue darken-4">

          <div class="footer-copyright">
            <div class="container">
              © 2021 FeBe Group
              <a class="grey-text text-lighten-4 right" href="/contact-us">About
                the Team</a>
            </div>
          </div>

        </footer>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/hover.js"></script>
    {{#if loggedIn}}
      {{! PH for logout script to be added in public files }}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script>
      $(document).ready(function(){ $('.sidenav').sidenav(); })
    </script>
  </body>

</html>