<div id="temp-spacer"></div>

<div class="wrapper">
  <h1>Our Team</h1>
  <div class="our_team">

    <div class="team_member">
      <div class="member_img">
        <img src="images/Robert.jpg" alt="Robert Perez" />
        <div class="social_media">

        </div>
      </div>
      <h3>Robert Perez</h3>
      <span>PHONENUMBER OR LINK HERE</span>
      <p>Full-stack developer with background in research-oriented psychology
        and a passion for creating engaging, well-crafted, and interactive
        pages/applications. Known as a critical thinker, insightful contributor,
        and one who works well with and motivates members of project teams. Well
        versed in using CSS, JavaScript and HTML to efficiently solve problems
        and enhance user experiences through refined functionality and
        detail-oriented design.
      </p>
    </div>

    <div class="team_member">
      <div class="member_img">
        <img src="images/David.jpg" alt="David Kim" />
        <div class="social_media">

        </div>
      </div>
      <h3>David Kim</h3>
      <span>PHONENUMBER OR LINK HERE</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
        perspiciatis, error deleniti quaerat beatae doloribus incidunt
        excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus
        cumque.</p>
    </div>

    <div class="team_member">
      <div class="member_img">
        <img src="images/Rakheem.jpg" alt="Rakheem Smith" />
        <div class="social_media">

        </div>
      </div>
      <h3>Rakheem Smith</h3>
      <span>Contact me @ <a href="https://www.linkedin.com/in/rahkeem-smith-63121b1b6/
">LinkedIn</a></span>
      <p>Future full stack web developer that is passionate about learning new technologies and coding. I am self-motivated, ambitious, and eager to grow. The knowledge and experience I gained from my undergraduate studies at University of Illinois at Urbana-Champaign and Georgia Tech Coding Boot Camp, will help me succeed in my future endeavors. I am looking forward to making meaningful contributions and joining a great team.
</p>
    </div>

    <div class="team_member">
      <div class="member_img">
        <img src="images/Razi.png" alt="Razi Alawamleh" />
        <div class="social_media">

        </div>
      </div>
      <h3>Razi Alawamleh</h3>
      <span>PHONENUMBER OR LINK HERE</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
        perspiciatis, error deleniti quaerat beatae doloribus incidunt
        excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus
        cumque.</p>
    </div>

    <div class="team_member">
      <div class="member_img">
        <img src="images/jon.jpg" alt="Jonathon Renaud" />
        <div class="social_media">

        </div>
      </div>
      <h3>Jonathon Renaud</h3>
      <span>Contact me @ <a href="shorturl.at/fEFX4">LinkedIn</a></span>
      <p>Motivated tech professional and analytical thinker with a background in
        restaurant management and real estate. Experience with people
        management, training systems, strong team skills, problem solving, and
        excellent communication skills.</p>
    </div>
  </div>
</div>