<div class="container">

  <div class="row heading">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center bottom-line">Meet Our Team</h2>
      <p class="subheading text-center">We're proud to create for you.</p>
    </div>
  </div>

  <div class="row team-row">

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="#RobPerez" alt="Robert Perez">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                BLURB.
              </p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Robert Perez</h6>
        <span>PHONENUMBER</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member text-center">
        <div class="team-img">
          <img src="http://deothemes.com/envato/enigma/html/img/team_2.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Our web design team will spend time with our digital marketing team.
              </p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Steve Roberts</h6>
        <span>Photographer</span>
      </div>
    </div>
    <!-- end team member -->

    <div class="col-md-4 col-sm-6 team-wrap">
      <div class="team-member last text-center">
        <div class="team-img">
          <img src="http://deothemes.com/envato/enigma/html/img/team_3.jpg" alt="">
          <div class="overlay">
            <div class="team-details text-center">
              <p>
                Our web design team will spend time with our digital marketing team.
              </p>
              <div class="socials mt-20">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h6 class="team-title">Michael Cartney</h6>
        <span>Designer</span>
      </div>
    </div>
    <!-- end team member -->

  </div>
</div>