    
    <div id="temp-spacer"></div>
    
    <div class="container">

        <div class="row">

        <div class="col">
            <div class="card">
                <div class="mood">
                </div>
            </div>
            <div class="card">
                <div class="mood">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="mood">
                </div>
            </div>
            <div class="card">
                <div class="mood">
                    <div>
                        {{> mood moods=moods}}
                    </div>
                </div>
            </div>
        </div>
        


        </div>
        <div id="activity-row" class="row">
            <div class="col s12">
                
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2"><i class="material-icons right">directions_walk</i>Activity</a>

  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Press button for an Activity:</h4>
        <p>
       <div id="suggested-activity">
     <button id="get-activity" class= 'waves-effect waves-light btn' >Get Activity</button>
        </div>
         </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Submit</a>
     </div>
     </div>
 
            </div>
        </div>

    </div>

    <script src="/js/getActivity.js"></script>
    


