    
    <div id="temp-spacer"></div>

    <div class="parallax-container para2">
      <div class="parallax"><img id="para-img" src="/images/alberta.jpg"></div>
    </div>
    <script>
        const srcList = [
        "/images/alberta.jpg",
        "/images/boats.jpg",
        "/images/moon.jpg",
        "/images/mountain.jpg",
        ]

        let randNum = Math.floor(Math.random() * srcList.length)
        document.getElementById('para-img').setAttribute('src', srcList[randNum])

    </script>
    
    <div id="dash-container" data-user='{{userId}}' class="container">
        <h2>Welcome <span id="uName-span">{{user.username}}</span>!</h2>


        <div id="mood-row" class="row">
            <div>
                <h3>How are you feeling?</h3>
                <div id="mood-partial">
                    {{> mood moods=moods}}
                </div>
            </div>
            <div>
                <h3>Suggested Activity</h3>
            <div id="suggested-activity-div">
            </div>



            </div>
        </div>
        <div class="row">
            {{!-- column for chat and community board --}}
            <div class="col s12 m12 l6">
                <div class="row">
                    <div>
                        <h4>Our Community:</h4>  
                        <div class="placeholder">               
                        {{#each posts as |post|}}
                        {{> community}}
                        {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            {{!-- column for mood and activity stuff --}}
            <div id="chat-col" class="col s12 m12 l5 push-l1">
                {{> chat username=user.username}}
                <button id="join-chat-btn" class="waves-effect waves-light btn">Join Chat</button>
            </div>
        </div>
    </div>

    <script src="/js/getActivity.js"></script>
    {{!-- <script src="/js/activityResult.js"></script> --}}
    <script src="/js/forChat.js"></script>
    


