<div class="row">
  <div class="col-md-6">
    {{!-- <h2>Login</h2> --}}

<div id="banner">
<pre>
Welcome
  to
 FeBe
</pre>
</div>

<div id="intro-info">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla cum architecto facilis adipisci possimus veritatis dolorem ab sapiente. Reiciendis beatae ipsa ut explicabo voluptatem quasi animi praesentium expedita dicta!</p>
</div>
<div class="parallax-container">
      <div class="parallax"><img src="/images/legs.jpg"></div>
    </div>
<div class="container container-fluid mt-5">
  <div class="row">
    <div id="side-pic" class="col m4"></div>
    <div class="col m7 push-m1 form-box">
      <h2>Login</h2>

      <form id="login-form" class="form">
        <div class="input-field">
          <input class="form-input text-black" type="text" id="user-login" required />
          <label for="user-login" class="text-black">username or email:</label>
        </div>
        <div class="input-field">
          <input
            class="form-input"
            type="password"
            id="password-login"
            required
          />
          <label for="password-login">password:</label>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    <div><a id="then-sign-up" href="/signup#signup-form">Don't have account? Join Us!</a></div>
    </div>
    
  </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./js/login.js"></script>
