/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
} */
#chat-box {
  border: 4px solid darkblue;
  width: 400px;
}

#message-container {
  height: 200px;
  overflow-y: scroll;
  word-wrap: normal;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 1.5rem;
}

#send-container {
  border-top: 2px solid darkblue;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#message-input {
  width: 250px;
  height: 75px;
  resize: none;
}

#send-button {
  padding: 0.5rem 1rem;
  font-size: 20px;
}
