body {
	background-image: url(images/background.png);
	background-color: white;
	background-size: cover;
  }

li {
  font-size: 100px;
}

.footer-fixed {
  position: sticky;
  bottom: 0;
  width: 100%;
}

main {
  margin-bottom: 5rem;
}

#toast-container {
  min-width: 8%;
  top: 50%;
  right: 50%;
}
